@import "shared/styles/main";

.notFound {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: $space-4xl;

  &_img {
    width: 400px;
    margin-bottom: $space-4xl;
  }

  p {
    color: $grey-6;
  }
}
