.badge {
  display: flex;
  align-items: center;
  background-color: var(--badge-background);
  width: fit-content;
  padding: var(--space-xs);
  color: var(--badge-color);
  border-radius: var(--rounded);
  border-left: 4px solid var(--grey-7);

  &_symbol {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_feedback {
    border-color: var(--yellow-dark);
  }

  &_participant {
    border-color: var(--purple);
  }

  &_solution {
    border-color: var(--blue-dark);
  }

  &_patreon {
    border-color: var(--green-dark);
  }

  &_penalty {
    border-color: var(--red);
  }

  label {
    margin-left: var(--space-xs);
    font-size: var(--text-xs);
    font-family: var(--heading-font-family);
  }
}
