@import "shared/styles/main";

.badge {
  display: flex;
  align-items: center;
  background-color: $badge-background;
  width: fit-content;
  padding: $space-xs;
  color: $badge-color;
  border-radius: $rounded;
  border-left: 4px solid $grey-7;

  &_symbol {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_feedback {
    border-color: $yellow-dark;
  }

  &_participant {
    border-color: $purple;
  }

  &_solution {
    border-color: $blue-dark;
  }

  &_patreon {
    border-color: $green-dark;
  }

  &_penalty {
    border-color: $red;
  }

  label {
    margin-left: $space-xs;
    font-size: $text-xs;
    font-family: $heading-font-family;
  }
}
