@import "shared/styles/base/_breakpoints";
@import "shared/styles/main";

.tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $white;
  padding: $space-xs;
  border-radius: $rounded-lg;
  box-shadow: $shadow;

  margin-bottom: $space-xl;

  ul,
  li,
  ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    flex-grow: 1;
    margin-right: $space-xs;

    &:last-child {
      margin-right: 0;
    }
  }

  &_tab {
    text-align: center;
    font-family: $heading-font-family;
    font-size: $text-sm;
    padding: $space-sm;
    border-radius: $rounded-lg;
    outline: none;
    background-color: $white;
    color: $grey-5;
    font-weight: 700;

    cursor: pointer;
    width: 100%;
    border: none;

    transition: all $duration-200 ease-in-out;

    &:hover,
    &:focus {
      background-color: $grey-3;
    }

    &__active {
      font-weight: 700;
      position: relative;
      color: $primary-text-color;

      &::before {
        content: "";
        position: absolute;
        bottom: calc(-1 * #{$space-xs});
        left: calc(50% - 38px);
        width: 80px;
        height: 4px;
        background-color: $primary-color;
        border-radius: $rounded $rounded 0 0;

        @include breakpoint("sm") {
          left: calc(50% - 68px);
          width: 140px;
        }
      }
    }
  }

  &_label {
    @include breakpoint("sm") {
      display: flex;
      align-items: center;
      justify-content: center;

      &_text {
        margin-left: $space-xs;
      }
    }
  }
}
