@import "shared/styles/main";

.skill {
  display: flex;
  align-items: center;
  color: $grey-6;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;

  &:hover {
    color: $primary-color;
  }

  &:hover &_name {
    color: $primary-color;
  }

  &:hover &_endorsementsButton {
    color: $primary-color;
  }

  &_name {
    font-family: $heading-font-family;
    font-size: $text-lg;
    font-weight: 500;
    margin-right: $space-xs;
    color: $primary-text-color;
    text-align: left;
  }

  &_endorsementsButton {
    margin-left: $space-xs;
    background-color: transparent;
    border: none;
    padding: 0;
    color: $grey-6;
    font-family: $font-family;
    font-weight: 500;
    text-align: left;
  }
}
