@import "shared/styles/base/_breakpoints";
@import "shared/styles/main";

.certificates {
  &_certificates {
    margin-bottom: $space-lg;
  }

  &_certificate {
    display: block;
    padding: $space-xs;
    margin-bottom: $space-md;
    background-color: $white;
    color: $grey-8;
    border-radius: $rounded;
    box-shadow: $shadow-sm;
    font-family: $heading-font-family;
  }

  &_issued {
    font-size: $text-xs;
    color: $grey-6;

    b {
      font-weight: 700;
      color: $grey-7;
    }
  }

  &_certificatesAndChallenges {
    margin-top: $space-xl;
  }
}
