.portfolio {
  color: inherit;

  h3 {
    color: var(--grey-5);
    font-size: var(--text-xs);
    margin-bottom: var(--space-md);
  }

  &_sideNavigation {
    width: 340px;
    height: 100%;
    height: 100vh;
    padding: var(--space-xl);
    box-shadow: var(--shadow-lg);
    background-color: var(--white);

    &_profileImage {
      border-radius: var(--rounded-lg);
      margin-bottom: var(--space-lg);
    }

    &_name {
      font-size: var(--text-xl);
      font-family: var(--heading-font-family);
      font-weight: 500;
      margin-bottom: var(--space-2xs);
    }

    &_username {
      font-size: var(--text-md);
      color: var(--grey-6);
      font-family: var(--heading-font-family);
      font-weight: 300;
      margin-bottom: var(--space-md);
    }

    &_bio {
      color: var(--grey-7);
      font-size: var(--text-md);
    }

    &_achievement {
      padding: var(--space-md) 0 var(--space-xs);
      border-top: 1px solid var(--grey-3);
      margin-top: var(--space-md);

      h3 {
        margin-bottom: var(--space-sm);
      }

      &_certificate {
        display: flex;
        align-items: center;
        color: var(--grey-7);

        &_name {
          margin-left: var(--space-xs);
        }
      }
    }
  }
}
