@import "shared/styles/main";

.badgeSmallSummary {
  display: flex;
  min-width: 200px;

  &_badgeWrapper {
    display: flex;
    align-items: center;
    margin-right: $space-xs;

    padding: $space-2xs;
    border-radius: $rounded;

    &_number {
      margin-left: $space-xs;
      font-family: $heading-font-family;
      color: $grey-5;
      font-size: $text-xs;
      font-weight: 500;
    }

    &_seperator {
      margin: 0 $space-xs;
      color: $grey-4;
    }
  }
}
