@import "shared/styles/main";

.badgeSummary {
  display: block;

  &_badgeWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: $space-sm;

    &_borderBottom {
      border-bottom: 1px solid $grey-3;
      margin-bottom: $space-sm;
    }

    &_number {
      margin-left: $space-xs;
      font-family: $heading-font-family;
      color: $grey-7;
    }

    &_number {
      margin-top: $space-2xs;
      text-align: right;
      color: $grey-5;
      font-size: $text-sm;
    }
  }

  &_panel {
    background-color: $white;
    height: 100%;
    padding: $space-sm;
    border-radius: $rounded;
    box-shadow: $shadow-sm;
  }
}
