@import "shared/styles/main";

.cardSolutionSkeleton {
  background-color: $white;
  padding: $space-md;
  border-radius: $rounded-lg;
  box-shadow: $shadow;

  &_flexRow {
    display: flex;
    justify-content: center;
    margin-top: $space-md;
  }
}
