@import "shared/styles/main";

.skills {
  box-shadow: $shadow;
  margin-bottom: $space-2xl;
  border-radius: $rounded-lg;
  padding: $space-md;
  padding-bottom: $space-2xl;
  background-color: $white;
}
