@import "shared/styles/base/_breakpoints";
@import "shared/styles/main";

.cardSolution {
  background-color: $white;
  padding: $space-lg;
  border-radius: $rounded-lg;
  box-shadow: $shadow;
  display: flex;
  flex-direction: column;
  height: 100%;
  cursor: pointer;
  color: $primary-text-color;
  user-select: none;

  a {
    text-decoration: none;
    color: $primary-text-color;
  }

  h3 {
    cursor: pointer;

    margin-bottom: 0;
    font-weight: 500;
    transition: text-decoration $duration-200 ease-in-out;

    &:hover {
      text-decoration: underline;
    }
  }

  &_space {
    flex-grow: 1;
  }

  &_helpRequest {
    margin-bottom: $space-lg;
    border: 1px solid $grey-3;
    border-radius: $rounded;

    padding: $space-sm;
    font-size: $text-md;
    color: $grey-7;

    &_message {
      margin-bottom: $space-md;
    }

    &_label {
      font-size: $text-xs;
      color: $blue;
      margin-bottom: $space-2xs;
    }

    &_firstOne {
      color: $purple;
      margin-bottom: 0;
    }
  }

  &_topSection {
    margin-bottom: $space-lg;
  }

  &_buttons {
    display: none;

    @include breakpoint("sm") {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      flex-direction: row;

      div {
        &:first-child {
          margin-right: $space-xs;
        }
      }
    }
  }

  &_challenge {
    display: flex;
    background-color: $grey-2;
    padding: $space-sm;
    border-radius: $rounded;
    color: $grey-6;

    &_tagsWrapper {
      margin-bottom: $space-md;
    }

    &_imgWrapper {
      img {
        width: 100%;
        height: 110px;
        border-radius: $rounded-lg;

        object-fit: cover;
      }
    }
  }

  &_userWrapper {
    display: flex;
    margin-bottom: $space-lg;
  }

  @mixin likeButton {
    border: none;
    background-color: transparent;
    margin-right: $space-md;
    font-size: $space-md;
    border-right: 1px solid $grey-3;
    padding-right: $space-md;
    color: $grey-6;
    transition: color $duration-100 ease-in-out;
    outline: none;
    text-align: center;

    p {
      font-size: $space-sm;
      margin: 0;
    }
  }

  &_likeButton {
    @include likeButton();
  }

  &_feedback {
    @include likeButton();
    border-right: none;
  }
}
