@import "shared/styles/main";

.recentFeedbacks {
  &_panel {
    background-color: $white;
    border-radius: $rounded-lg;
    box-shadow: $shadow;
    padding: $space-md;
    margin-top: $space-md;

    &_card {
      padding: $space-sm 0;
      border-bottom: 1px solid $grey-3;

      &_time {
        font-size: $text-xs;
        color: $grey-5;
        margin-bottom: $space-2xs;
      }

      &_feedback {
        color: $grey-9;
        margin-bottom: $space-xs;
      }

      &_solution {
        color: $grey-5;

        &_title {
          font-size: $text-sm;
          background-color: transparent;
          font-weight: bold;
          border: none;
          padding: 0;
          cursor: pointer;
          color: $grey-7;

          &:hover {
            color: $blue-dark;
          }
        }
      }
    }
  }
}
