@import "shared/styles/main";

.horizontalLayout {
  display: flex;
  max-height: 100vh;
  background-color: $background-color;
  position: relative;

  &_closeButton {
    z-index: 21;
    position: absolute;
    right: $space-xl;
    bottom: $space-xl;
    width: 42px;
    height: 42px;
    border: none;
    background-color: $blue-dark;
    box-shadow: $shadow-xl;
    border-radius: $rounded;
    color: $grey-3;
    font-size: $text-lg;
    display: flex;
    justify-content: center;
    align-items: center;

    @include breakpoint("sm") {
      display: none;
    }
  }

  &_sideNavigation {
    width: 380px;
    height: 100%;
    height: 100vh;
    padding: $space-xl;
    box-shadow: $shadow-lg;
    background-color: $white;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 20;

    transform: translateX(-102%);
    transition: all $duration-200 ease-in-out;

    &__openOnMobile {
      transform: translateX(0);
    }

    @include breakpoint("sm") {
      display: flex;
      position: relative;
      transform: translateX(0);
    }
  }

  &_sideNavigation {
    &__mobile {
      width: 52px;
      height: 100%;
      height: 100vh;
      padding: $space-lg $space-xs;
      box-shadow: $shadow-lg;
      background-color: $white;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      overflow-y: scroll;

      &::-webkit-scrollbar {
        display: none;
      }

      @include breakpoint("sm") {
        display: none;
      }
    }
  }

  &_contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  &_children {
    padding: $space-xl;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    max-width: 1100px;
  }
}
