@import "shared/styles/main";

.horizontalLayout {
  display: flex;
  max-height: 100vh;
  background-color: $background-color;

  &_sideNavigation {
    width: 380px;
    height: 100%;
    height: 100vh;
    padding: $space-xl;
    box-shadow: $shadow-lg;
    background-color: $white;
  }

  &_contentWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 100vh;
    overflow-y: scroll;
  }

  &_children {
    padding: $space-xl;
    width: 100%;
    margin: 0 auto;
    flex-grow: 1;
    max-width: 1100px;
  }
}
