@import "../shared/styles/base/_breakpoints.scss";
@import "../shared/styles/base/_colors.scss";
@import "../shared/styles/base/_space.scss";
@import "../shared/styles/base/_typography.scss";
@import "../shared/styles/base/_reset.scss";
@import "../shared/styles/base/_border.scss";
@import "../shared/styles/base/_transition.scss";
@import "../shared/styles/base/_boxshadow.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 500;
  margin-bottom: var(--space-sm);
}

h1 {
  font-size: var(--text-2xl);
  margin-bottom: var(--space-md);
}

h2 {
  font-size: var(--text-xl);
  margin-bottom: var(--space-md);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-sm);
}

p {
  line-height: 1.5;
  margin-bottom: var(--space-sm);
  max-width: 720px;
}

i {
  font-style: italic;
}

li {
  line-height: 1.5;
  margin-bottom: var(--space-2xs);
}
