@import "shared/styles/main";

.tags {
  &_tag {
    background-color: $default-button-background-color;
    color: $grey-6;
    border-radius: $rounded-md;
    padding: $space-2xs $space-xs;
    margin-right: $space-sm;
    font-weight: 700;
    font-size: $text-xs;
    margin-bottom: $space-2xs;
    display: inline-block;
  }
}
