.levelIndicator {
  display: flex;
  margin-bottom: var(--space-lg);

  &_level {
    font-size: var(--text-xs);
    text-transform: capitalize;
    color: var(--grey-5);
    margin-bottom: var(--space-2xs);
  }

  &_bar {
    background-color: var(--grey-3);
    flex-grow: 1;
    height: 6px;
    border-radius: var(--rounded-sm);
    margin-right: var(--space-2xs);

    &__primaryColor {
      background-color: var(--primary-color-xlight);
    }

    &__red {
      background-color: var(--red-light);
    }

    &__yellow {
      background-color: var(--yellow-light);
    }

    &__green {
      background-color: var(--green-light);
    }

    &__blue {
      background-color: var(--blue-light);
    }

    &__purple {
      background-color: var(--purple-light);
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
