@import "shared/styles/main";

.levelIndicator {
  display: flex;
  margin-bottom: $space-lg;

  &_level {
    font-size: $text-xs;
    text-transform: capitalize;
    color: $grey-5;
    margin-bottom: $space-2xs;
  }

  &_bar {
    background-color: $grey-3;
    flex-grow: 1;
    height: 6px;
    border-radius: $rounded-sm;
    margin-right: $space-2xs;

    &__primaryColor {
      background-color: $primary-color-xlight;
    }

    &__red {
      background-color: $red-light;
    }

    &__yellow {
      background-color: $yellow-light;
    }

    &__green {
      background-color: $green-light;
    }

    &__blue {
      background-color: $blue-light;
    }

    &__purple {
      background-color: $purple-light;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
