@import "shared/styles/main";

.defaultTheme {
  color: inherit;

  h3 {
    color: $grey-5;
    font-size: $text-xs;
    margin-bottom: $space-md;
  }

  &_sideNavigation {
    width: 340px;
    height: 100%;
    height: 100vh;
    padding: $space-xl;
    box-shadow: $shadow-lg;
    background-color: $white;

    &_profileImage {
      border-radius: $rounded-lg;
      margin-bottom: $space-lg;
    }

    &_profileImageMobile {
      border-radius: $rounded-full;

      box-shadow: $shadow-lg;
    }

    &_socialsMobile {
      margin-top: $space-2xl;
    }

    &_name {
      font-size: $text-xl;
      font-family: $heading-font-family;
      font-weight: 500;
      margin-bottom: $space-2xs;
    }

    &_username {
      font-size: $text-md;
      color: $grey-6;
      font-family: $heading-font-family;
      font-weight: 300;
      margin-bottom: $space-md;
    }

    &_bio {
      color: $grey-7;
      font-size: $text-md;
    }

    &_contact {
      display: flex;
      align-items: center;
      font-size: $text-md;
      color: $grey-7;
      margin-bottom: $space-xs;

      &_value {
        margin-left: $space-xs;
      }
    }

    &_achievement {
      padding: $space-md 0 $space-xs;
      border-top: 1px solid $grey-3;
      margin-top: $space-md;

      h3 {
        margin-bottom: $space-sm;
      }

      &_certificate {
        display: flex;
        align-items: center;
        color: $grey-7;
        margin-bottom: $space-xs;

        &_name {
          margin-left: $space-xs;
        }
      }
    }
  }

  &_pinned {
    margin-bottom: $space-2xl;
  }
}
